@model DTO.Restaurant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_RESTAURANT" class="control-label"></label>
                <input asp-for="ID_RESTAURANT" class="form-control" />
                <span asp-validation-for="ID_RESTAURANT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCITY" class="control-label"></label>
                <input asp-for="IDCITY" class="form-control" />
                <span asp-validation-for="IDCITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDTYPE" class="control-label"></label>
                <input asp-for="IDTYPE" class="form-control" />
                <span asp-validation-for="IDTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADRESS" class="control-label"></label>
                <input asp-for="ADRESS" class="form-control" />
                <span asp-validation-for="ADRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PHONENUMBER" class="control-label"></label>
                <input asp-for="PHONENUMBER" class="form-control" />
                <span asp-validation-for="PHONENUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERNAME" class="control-label"></label>
                <input asp-for="USERNAME" class="form-control" />
                <span asp-validation-for="USERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PASSWORD" class="control-label"></label>
                <input asp-for="PASSWORD" class="form-control" />
                <span asp-validation-for="PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
