@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VSeat Web application</h1>
    <h2 >this project was developped by </h2>
    <ul>
        <li>Abdullah Binjos</li>
        <li>Nicolas Devanthery</li>
    </u1>
</div>
