@model DTO.Restaurant

@{
    ViewData["Title"] = "EditPassword";
}

<h1>EditPassword</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ID_RESTAURANT" class="form-control" />
                <span asp-validation-for="ID_RESTAURANT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="IDCITY" class="form-control" />
                <span asp-validation-for="IDCITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="IDTYPE" class="form-control" />
                <span asp-validation-for="IDTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ADRESS" class="form-control" />
                <span asp-validation-for="ADRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PHONENUMBER" class="form-control" />
                <span asp-validation-for="PHONENUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERNAME" class="control-label"></label><br/>
                <label style='font-weight:bold;'>@Model.USERNAME</label>
                <input type="hidden" asp-for="USERNAME" class="form-control" />
                <span asp-validation-for="USERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PASSWORD" class="control-label"></label>
                <input asp-for="PASSWORD" class="form-control" />
                <span asp-validation-for="PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                    <input type="hidden" class="form-check-input" asp-for="confirmed" /> 
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="image_url" class="form-control" />
                <span asp-validation-for="image_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

