@model DTO.Customer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutCustomer";
}
@{
    <h2 align="center">Welcome to the Client Section !</h2>
    <h3 align="center">To get back at the general home click on disconnect</h3>
    <h3 align="center">you are connected as @Model.FIRSTNAME @Model.LASTNAME</h3>
}
